:root {
    --mainText:black;
    --bordercolor: #c1c1c1;
    --maincolor: #eaeaea;
    --secondarycolor: #fff;
    --secondarytext: #4b5156;
    --themeDotBorder: #24292e;
    --prreviewbg: rgb(245, 249, 243, 0.8);
    --previewShadow: #f0ead6;
    --buttonColor:black
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-style: normal;
}
p, li, span, label, input, textarea{
    color: var(--mainText);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html { scroll-behavior: smooth; }

a {
    color: #17a2b8;
    text-decoration: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1 {
    background-color: var(--maincolor);
    border-bottom: var(--bordercolor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondarycolor);
    border-bottom: var(--bordercolor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    min-height: 10em;
    text-align: center;
    align-content: center;
}

.intro-wrapper {
    background-color: var(--secondarycolor);
    border: 1px solid var(--bordercolor);
    border-radius: 5px 5px 0 0;


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75); 
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;

}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--bordercolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--maincolor);
}

#navigation{
    margin:0;
    padding: 10px;
}


#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 18px;
}





.dots-wrapper{
    display: flex;
    padding: 10px;

}

#dot-1{
    background-color: #FC6058
}

#dot-2{
    background-color: #f5ee21
}

#dot-3{
    background-color: #03f81c
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75); 
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}



.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic{
    display: block;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--bordercolor);
}



.theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;

    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75); 
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    cursor: pointer;
    border: 2px solid var(--themeDotBorder);
}

#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7E4C74;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;

}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--prreviewbg);
    padding: 15px;
    position: relative;
}

.corner{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border: 1.5px solid #17a2b8;
    background-color: #fff;

}

#corner-tl{
	position: absolute;
	top: -10px;
	left: -10px;
}

#corner-tr{
	position: absolute;
	top: -10px;
	right: -10px;
}

#corner-bl{
	position: absolute;
	bottom: -10px;
	left: -10px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#skills {
    display:flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}

#social_image{
    width: 100%;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.thumbnail{ 
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.post {
    border: 1px solid var(--bordercolor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75); 
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
.post-preview{
    background-color: #fff;
    padding: 15px;
}

.post-title{
    color: black;
    margin: 0%;
}

.post-intro{
    color: #4b5156;
    font-size: 14px;
}

.contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--bordercolor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--maincolor);
    margin-bottom: 50px;
}

.contact-form label{
    line-height: 2.7em;    
}

.contact-form textarea{
    font-size: 14px;
    min-height: 100px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondarycolor);
    font-size: 14px;
    border: 1px solid var(--bordercolor);
    border-radius: 5px;
}

#submit-btn{
    background-color: var(--buttonColor);
    color: #fff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%;    
}

#corner-br{
	position: absolute;
	bottom: -10px;
	right: -10px;
}

.theme-dot:hover{
    border-width: 5px;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}
    .right-column{
        justify-content: center;
    }
}

.project-links{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 20px;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.btn-primary {
    background-color: #17a2b8;
}

.btn-secondary {
    background-color: #6c757d;
}

.footer {
  background-color: var(--maincolor);
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  border-top: 1px solid var(--bordercolor);
}